.css_gerens_id_det_label, .css_gerens_id_det_label:hover {text-align: left;vertical-align: middle;}
.css_gerens_id_det_line, .css_gerens_id_det_line:hover {height:0px;text-align: left;}
.css_gerens_name_det_label, .css_gerens_name_det_label:hover {text-align: left;vertical-align: middle;}
.css_gerens_name_det_line, .css_gerens_name_det_line:hover {height:0px;text-align: left;}
