.css_pos_id_det_label, .css_pos_id_det_label:hover {text-align: right;vertical-align: middle;}
.css_pos_id_det_line, .css_pos_id_det_line:hover {height:0px;text-align: right;}
.css_pos_name_det_label, .css_pos_name_det_label:hover {text-align: right;vertical-align: middle;}
.css_pos_name_det_line, .css_pos_name_det_line:hover {height:0px;text-align: right;}
