.css_usr_name_det_label, .css_usr_name_det_label:hover {text-align: right;vertical-align: middle;}
.css_usr_name_det_line, .css_usr_name_det_line:hover {height:0px;text-align: right;}
.css_id_det_label, .css_id_det_label:hover {text-align: right;vertical-align: middle;}
.css_id_det_line, .css_id_det_line:hover {height:0px;text-align: right;}
.css_inserted_date_det_label, .css_inserted_date_det_label:hover {text-align: right;vertical-align: middle;}
.css_inserted_date_det_line, .css_inserted_date_det_line:hover {height:0px;text-align: right;}
.css_username_det_label, .css_username_det_label:hover {text-align: right;vertical-align: middle;}
.css_username_det_line, .css_username_det_line:hover {height:0px;text-align: right;}
.css_application_det_label, .css_application_det_label:hover {text-align: right;vertical-align: middle;}
.css_application_det_line, .css_application_det_line:hover {height:0px;text-align: right;}
.css_ip_user_det_label, .css_ip_user_det_label:hover {text-align: right;vertical-align: middle;}
.css_ip_user_det_line, .css_ip_user_det_line:hover {height:0px;text-align: right;}
.css_sc_field_0_det_label, .css_sc_field_0_det_label:hover {text-align: right;vertical-align: middle;}
.css_sc_field_0_det_line, .css_sc_field_0_det_line:hover {height:0px;text-align: right;}
.css_description_det_label, .css_description_det_label:hover {text-align: right;vertical-align: middle;}
.css_description_det_line, .css_description_det_line:hover {height:0px;text-align: right;}
.css_log_ok_det_label, .css_log_ok_det_label:hover {text-align: right;vertical-align: middle;}
.css_log_ok_det_line, .css_log_ok_det_line:hover {height:0px;text-align: right;}
