.css_medet_cant__label { }
.css_medet_cant__line {text-align:left;}
.css_medet_cant__obj {text-align:left;}
.css_mpres_id__label { }
.css_mpres_id__line { }
.css_mpres_id__obj { }
.css_med_dosis__label {text-align:right;}
.css_med_dosis__line {text-align:right;}
.css_med_dosis__obj {text-align:right;}
.css_medet_dosis__label {text-align:right;}
.css_medet_dosis__line {text-align:right;}
.css_medet_dosis__obj {text-align:right;}
