.css_ment_date_label { }
.css_ment_date_line { }
.css_ment_date_obj { }
.css_sup_id_label { }
.css_sup_id_line {text-align:left;}
.css_sup_id_obj {text-align:left;}
.css_user_id_label { }
.css_user_id_line {text-align:left;}
.css_user_id_obj {text-align:left;}
.css_medicamentos_label { }
.css_medicamentos_line { }
.css_medicamentos_obj { }
