.css_tdet_id__label {text-align:;}
.css_tdet_id__line {text-align:left;}
.css_tdet_id__obj {text-align:left;}
.css_mstk_id__label { }
.css_mstk_id__line {text-align:left;}
.css_mstk_id__obj {background-color:#0066FF;text-align:left;}
.css_mstk_indic__label { }
.css_mstk_indic__line { }
.css_mstk_indic__obj { }
.css_treat_doses__label { }
.css_treat_doses__line {text-align:left;}
.css_treat_doses__obj {text-align:left;}
