.css_meds_id_det_label, .css_meds_id_det_label:hover {text-align: right;vertical-align: middle;}
.css_meds_id_det_line, .css_meds_id_det_line:hover {height:0px;text-align: right;}
.css_mtype_id_det_label, .css_mtype_id_det_label:hover {text-align: right;vertical-align: middle;}
.css_mtype_id_det_line, .css_mtype_id_det_line:hover {height:0px;text-align: right;}
.css_meds_desc_det_label, .css_meds_desc_det_label:hover {text-align: right;vertical-align: middle;}
.css_meds_desc_det_line, .css_meds_desc_det_line:hover {height:0px;text-align: right;}
