.css_mpres_id__label {text-align:;}
.css_mpres_id__line {text-align:left;}
.css_mpres_id__obj {text-align:left;}
.css_mpres_desc__label { }
.css_mpres_desc__line { }
.css_mpres_desc__obj { }
.css_mpres_doses__label {text-align:;}
.css_mpres_doses__line {text-align:left;}
.css_mpres_doses__obj {text-align:left;}
.css_mpres_exits__label {text-align:right;}
.css_mpres_exits__line {text-align:right;}
.css_mpres_exits__obj {text-align:right;}
