.css_user_id_label { }
.css_user_id_line {text-align:left;}
.css_user_id_obj {text-align:left;}
.css_user_name_label { }
.css_user_name_line { }
.css_user_name_obj { }
.css_user_docnum_label { }
.css_user_docnum_line {text-align:left;}
.css_user_docnum_obj {text-align:left;}
.css_user_bod_label { }
.css_user_bod_line { }
.css_user_bod_obj { }
.css_user_phone_label { }
.css_user_phone_line {text-align:left;}
.css_user_phone_obj {text-align:left;}
.css_user_addreess_label { }
.css_user_addreess_line { }
.css_user_addreess_obj { }
.css_user_email_label { }
.css_user_email_line { }
.css_user_email_obj { }
.css_btyp_id_label { }
.css_btyp_id_line {text-align:left;}
.css_btyp_id_obj {text-align:left;}
.css_pos_id_label { }
.css_pos_id_line {text-align:left;}
.css_pos_id_obj {text-align:left;}
.css_gerens_id_label { }
.css_gerens_id_line {text-align:left;}
.css_gerens_id_obj {text-align:left;}
