.css_pati_id_label { }
.css_pati_id_line {text-align:left;}
.css_pati_id_obj {text-align:left;}
.css_user_id_label { }
.css_user_id_line {text-align:left;}
.css_user_id_obj {text-align:left;}
.css_consul_date_label { }
.css_consul_date_line { }
.css_consul_date_obj { }
.css_consul_strtime_label { }
.css_consul_strtime_line { }
.css_consul_strtime_obj { }
.css_consul_endtime_label { }
.css_consul_endtime_line { }
.css_consul_endtime_obj { }
.css_consul_reason_label { }
.css_consul_reason_line { }
.css_consul_reason_obj { }
.css_consul_anot_label { }
.css_consul_anot_line { }
.css_consul_anot_obj { }
.css_anam_career_label { }
.css_anam_career_line { }
.css_anam_career_obj { }
.css_anam_carsem_label { }
.css_anam_carsem_line { }
.css_anam_carsem_obj { }
.css_pat_bod_label { }
.css_pat_bod_line { }
.css_pat_bod_obj { }
.css_pat_name_label { }
.css_pat_name_line { }
.css_pat_name_obj { }
.css_pat_lname_label { }
.css_pat_lname_line { }
.css_pat_lname_obj { }
.css_pat_gerens_label { }
.css_pat_gerens_line { }
.css_pat_gerens_obj { }
.css_pat_phone_label { }
.css_pat_phone_line { }
.css_pat_phone_obj { }
.css_btyp_id_label { }
.css_btyp_id_line { }
.css_btyp_id_obj { }
.css_pati_famphone_label { }
.css_pati_famphone_line { }
.css_pati_famphone_obj { }
.css_pati_famname_label { }
.css_pati_famname_line { }
.css_pati_famname_obj { }
