.css_consul_id_det_label, .css_consul_id_det_label:hover {text-align: left;vertical-align: middle;}
.css_consul_id_det_line, .css_consul_id_det_line:hover {height:0px;text-align: left;}
.css_pati_id_det_label, .css_pati_id_det_label:hover {text-align: left;vertical-align: middle;}
.css_pati_id_det_line, .css_pati_id_det_line:hover {height:0px;text-align: left;}
.css_user_id_det_label, .css_user_id_det_label:hover {text-align: left;vertical-align: middle;}
.css_user_id_det_line, .css_user_id_det_line:hover {height:0px;text-align: left;}
.css_consul_date_det_label, .css_consul_date_det_label:hover {text-align: left;vertical-align: middle;}
.css_consul_date_det_line, .css_consul_date_det_line:hover {height:0px;text-align: left;}
.css_consul_strtime_det_label, .css_consul_strtime_det_label:hover {text-align: left;vertical-align: middle;}
.css_consul_strtime_det_line, .css_consul_strtime_det_line:hover {height:0px;text-align: left;}
.css_consul_endtime_det_label, .css_consul_endtime_det_label:hover {text-align: left;vertical-align: middle;}
.css_consul_endtime_det_line, .css_consul_endtime_det_line:hover {height:0px;text-align: left;}
.css_consil_sesnum_det_label, .css_consil_sesnum_det_label:hover {text-align: left;vertical-align: middle;}
.css_consil_sesnum_det_line, .css_consil_sesnum_det_line:hover {height:0px;text-align: left;}
.css_consul_reason_det_label, .css_consul_reason_det_label:hover {text-align: left;vertical-align: middle;}
.css_consul_reason_det_line, .css_consul_reason_det_line:hover {height:0px;text-align: left;}
.css_consul_anot_det_label, .css_consul_anot_det_label:hover {text-align: left;vertical-align: middle;}
.css_consul_anot_det_line, .css_consul_anot_det_line:hover {height:0px;text-align: left;}
.css_consul_state_det_label, .css_consul_state_det_label:hover {text-align: left;vertical-align: middle;}
.css_consul_state_det_line, .css_consul_state_det_line:hover {height:0px;text-align: left;}
.css_user_docnum_det_label, .css_user_docnum_det_label:hover {text-align: left;vertical-align: middle;}
.css_user_docnum_det_line, .css_user_docnum_det_line:hover {height:0px;text-align: left;}
.css_uname_det_label, .css_uname_det_label:hover {text-align: left;vertical-align: middle;}
.css_uname_det_line, .css_uname_det_line:hover {height:0px;text-align: left;}
.css_p_pati_docnum_det_label, .css_p_pati_docnum_det_label:hover {text-align: left;vertical-align: middle;}
.css_p_pati_docnum_det_line, .css_p_pati_docnum_det_line:hover {height:0px;text-align: left;}
.css_pname_det_label, .css_pname_det_label:hover {text-align: left;vertical-align: middle;}
.css_pname_det_line, .css_pname_det_line:hover {height:0px;text-align: left;}
