.css_sup_name_det_label, .css_sup_name_det_label:hover {text-align: right;vertical-align: middle;}
.css_sup_name_det_line, .css_sup_name_det_line:hover {height:0px;text-align: right;}
.css_sup_address_det_label, .css_sup_address_det_label:hover {text-align: right;vertical-align: middle;}
.css_sup_address_det_line, .css_sup_address_det_line:hover {height:0px;text-align: right;}
.css_sup_phone_det_label, .css_sup_phone_det_label:hover {text-align: right;vertical-align: middle;}
.css_sup_phone_det_line, .css_sup_phone_det_line:hover {height:0px;text-align: right;}
.css_sup_email_det_label, .css_sup_email_det_label:hover {text-align: right;vertical-align: middle;}
.css_sup_email_det_line, .css_sup_email_det_line:hover {height:0px;text-align: right;}
.css_sup_ruc_det_label, .css_sup_ruc_det_label:hover {text-align: right;vertical-align: middle;}
.css_sup_ruc_det_line, .css_sup_ruc_det_line:hover {height:0px;text-align: right;}
