.css_user_id_det_label, .css_user_id_det_label:hover {text-align: right;vertical-align: middle;}
.css_user_id_det_line, .css_user_id_det_line:hover {height:0px;text-align: right;}
.css_user_name_det_label, .css_user_name_det_label:hover {text-align: right;vertical-align: middle;}
.css_user_name_det_line, .css_user_name_det_line:hover {height:0px;text-align: right;}
.css_user_docnum_det_label, .css_user_docnum_det_label:hover {text-align: right;vertical-align: middle;}
.css_user_docnum_det_line, .css_user_docnum_det_line:hover {height:0px;text-align: right;}
.css_user_bod_det_label, .css_user_bod_det_label:hover {text-align: right;vertical-align: middle;}
.css_user_bod_det_line, .css_user_bod_det_line:hover {height:0px;text-align: right;}
.css_user_phone_det_label, .css_user_phone_det_label:hover {text-align: right;vertical-align: middle;}
.css_user_phone_det_line, .css_user_phone_det_line:hover {height:0px;text-align: right;}
.css_user_addreess_det_label, .css_user_addreess_det_label:hover {text-align: right;vertical-align: middle;}
.css_user_addreess_det_line, .css_user_addreess_det_line:hover {height:0px;text-align: right;}
.css_user_ocup_det_label, .css_user_ocup_det_label:hover {text-align: right;vertical-align: middle;}
.css_user_ocup_det_line, .css_user_ocup_det_line:hover {height:0px;text-align: right;}
.css_user_geren_det_label, .css_user_geren_det_label:hover {text-align: right;vertical-align: middle;}
.css_user_geren_det_line, .css_user_geren_det_line:hover {height:0px;text-align: right;}
.css_user_email_det_label, .css_user_email_det_label:hover {text-align: right;vertical-align: middle;}
.css_user_email_det_line, .css_user_email_det_line:hover {height:0px;text-align: right;}
.css_user_pword_det_label, .css_user_pword_det_label:hover {text-align: right;vertical-align: middle;}
.css_user_pword_det_line, .css_user_pword_det_line:hover {height:0px;text-align: right;}
