.css_ment_id_label, .css_ment_id_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_ment_id_grid_line, .css_ment_id_grid_line:hover {vertical-align: top;text-align: right;}
.css_ment_date_label, .css_ment_date_label:hover {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_ment_date_grid_line, .css_ment_date_grid_line:hover {vertical-align: top;text-align: center;}
.css_sup_id_label, .css_sup_id_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_sup_id_grid_line, .css_sup_id_grid_line:hover {vertical-align: top;text-align: right;}
.css_user_id_label, .css_user_id_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_user_id_grid_line, .css_user_id_grid_line:hover {vertical-align: top;text-align: right;}
