.css_ment_id_det_label, .css_ment_id_det_label:hover {text-align: right;vertical-align: middle;}
.css_ment_id_det_line, .css_ment_id_det_line:hover {height:0px;text-align: right;}
.css_ment_date_det_label, .css_ment_date_det_label:hover {text-align: right;vertical-align: middle;}
.css_ment_date_det_line, .css_ment_date_det_line:hover {height:0px;text-align: right;}
.css_sup_id_det_label, .css_sup_id_det_label:hover {text-align: right;vertical-align: middle;}
.css_sup_id_det_line, .css_sup_id_det_line:hover {height:0px;text-align: right;}
.css_user_id_det_label, .css_user_id_det_label:hover {text-align: right;vertical-align: middle;}
.css_user_id_det_line, .css_user_id_det_line:hover {height:0px;text-align: right;}
