.css_pati_id_det_label, .css_pati_id_det_label:hover {text-align: left;vertical-align: middle;}
.css_pati_id_det_line, .css_pati_id_det_line:hover {height:0px;text-align: left;}
.css_pati_name_det_label, .css_pati_name_det_label:hover {text-align: left;vertical-align: middle;}
.css_pati_name_det_line, .css_pati_name_det_line:hover {height:0px;text-align: left;}
.css_pati_docnum_det_label, .css_pati_docnum_det_label:hover {text-align: left;vertical-align: middle;}
.css_pati_docnum_det_line, .css_pati_docnum_det_line:hover {height:0px;text-align: left;}
.css_pati_bod_det_label, .css_pati_bod_det_label:hover {text-align: left;vertical-align: middle;}
.css_pati_bod_det_line, .css_pati_bod_det_line:hover {height:0px;text-align: left;}
.css_pati_phone_det_label, .css_pati_phone_det_label:hover {text-align: left;vertical-align: middle;}
.css_pati_phone_det_line, .css_pati_phone_det_line:hover {height:0px;text-align: left;}
.css_pati_career_det_label, .css_pati_career_det_label:hover {text-align: left;vertical-align: middle;}
.css_pati_career_det_line, .css_pati_career_det_line:hover {height:0px;text-align: left;}
.css_pati_caryerar_det_label, .css_pati_caryerar_det_label:hover {text-align: left;vertical-align: middle;}
.css_pati_caryerar_det_line, .css_pati_caryerar_det_line:hover {height:0px;text-align: left;}
.css_pati_carsem_det_label, .css_pati_carsem_det_label:hover {text-align: left;vertical-align: middle;}
.css_pati_carsem_det_line, .css_pati_carsem_det_line:hover {height:0px;text-align: left;}
.css_pati_geren_det_label, .css_pati_geren_det_label:hover {text-align: left;vertical-align: middle;}
.css_pati_geren_det_line, .css_pati_geren_det_line:hover {height:0px;text-align: left;}
.css_pati_blood_det_label, .css_pati_blood_det_label:hover {text-align: left;vertical-align: middle;}
.css_pati_blood_det_line, .css_pati_blood_det_line:hover {height:0px;text-align: left;}
.css_gerens_id_det_label, .css_gerens_id_det_label:hover {text-align: left;vertical-align: middle;}
.css_gerens_id_det_line, .css_gerens_id_det_line:hover {height:0px;text-align: left;}
.css_btyp_id_det_label, .css_btyp_id_det_label:hover {text-align: left;vertical-align: middle;}
.css_btyp_id_det_line, .css_btyp_id_det_line:hover {height:0px;text-align: left;}
