.css_pati_docnum_label, .css_pati_docnum_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_pati_docnum_grid_line, .css_pati_docnum_grid_line:hover {vertical-align: top;text-align: right;}
.css_pati_lname_label, .css_pati_lname_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_pati_lname_grid_line, .css_pati_lname_grid_line:hover {vertical-align: top;text-align: right;}
.css_pati_name_label, .css_pati_name_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_pati_name_grid_line, .css_pati_name_grid_line:hover {vertical-align: top;text-align: right;}
.css_pati_bod_label, .css_pati_bod_label:hover {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_pati_bod_grid_line, .css_pati_bod_grid_line:hover {vertical-align: top;text-align: center;}
.css_pati_phone_label, .css_pati_phone_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_pati_phone_grid_line, .css_pati_phone_grid_line:hover {vertical-align: top;text-align: right;}
.css_pati_career_label, .css_pati_career_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_pati_career_grid_line, .css_pati_career_grid_line:hover {vertical-align: top;text-align: right;}
.css_gerens_id_label, .css_gerens_id_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_gerens_id_grid_line, .css_gerens_id_grid_line:hover {vertical-align: top;text-align: right;}
.css_btyp_id_label, .css_btyp_id_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_btyp_id_grid_line, .css_btyp_id_grid_line:hover {vertical-align: top;text-align: right;}
.css_pati_id_label, .css_pati_id_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_pati_id_grid_line, .css_pati_id_grid_line:hover {vertical-align: top;text-align: right;}
