.css_pati_name_label { }
.css_pati_name_line { }
.css_pati_name_obj { }
.css_pati_docnum_label { }
.css_pati_docnum_line {text-align:left;}
.css_pati_docnum_obj {text-align:left;}
.css_pati_bod_label { }
.css_pati_bod_line { }
.css_pati_bod_obj { }
.css_pati_phone_label { }
.css_pati_phone_line {text-align:left;}
.css_pati_phone_obj {text-align:left;}
.css_pati_career_label { }
.css_pati_career_line { }
.css_pati_career_obj { }
.css_pati_caryerar_label { }
.css_pati_caryerar_line {text-align:left;}
.css_pati_caryerar_obj {text-align:left;}
.css_pati_carsem_label { }
.css_pati_carsem_line {text-align:left;}
.css_pati_carsem_obj {text-align:left;}
.css_btyp_id_label { }
.css_btyp_id_line {text-align:left;}
.css_btyp_id_obj {text-align:left;}
.css_gerens_id_label { }
.css_gerens_id_line {text-align:left;}
.css_gerens_id_obj {text-align:left;}
.css_pati_lname_label { }
.css_pati_lname_line { }
.css_pati_lname_obj { }
