.css_anam_id_det_label, .css_anam_id_det_label:hover {text-align: left;vertical-align: middle;}
.css_anam_id_det_line, .css_anam_id_det_line:hover {height:0px;text-align: left;}
.css_pati_id_det_label, .css_pati_id_det_label:hover {text-align: left;vertical-align: middle;}
.css_pati_id_det_line, .css_pati_id_det_line:hover {height:0px;text-align: left;}
.css_user_id_det_label, .css_user_id_det_label:hover {text-align: left;vertical-align: middle;}
.css_user_id_det_line, .css_user_id_det_line:hover {height:0px;text-align: left;}
.css_anam_date_det_label, .css_anam_date_det_label:hover {text-align: left;vertical-align: middle;}
.css_anam_date_det_line, .css_anam_date_det_line:hover {height:0px;text-align: left;}
.css_anam_strtime_det_label, .css_anam_strtime_det_label:hover {text-align: left;vertical-align: middle;}
.css_anam_strtime_det_line, .css_anam_strtime_det_line:hover {height:0px;text-align: left;}
.css_anam_endtime_det_label, .css_anam_endtime_det_label:hover {text-align: left;vertical-align: middle;}
.css_anam_endtime_det_line, .css_anam_endtime_det_line:hover {height:0px;text-align: left;}
.css_anam_career_det_label, .css_anam_career_det_label:hover {text-align: left;vertical-align: middle;}
.css_anam_career_det_line, .css_anam_career_det_line:hover {height:0px;text-align: left;}
.css_anam_caryear_det_label, .css_anam_caryear_det_label:hover {text-align: left;vertical-align: middle;}
.css_anam_caryear_det_line, .css_anam_caryear_det_line:hover {height:0px;text-align: left;}
.css_anam_carsem_det_label, .css_anam_carsem_det_label:hover {text-align: left;vertical-align: middle;}
.css_anam_carsem_det_line, .css_anam_carsem_det_line:hover {height:0px;text-align: left;}
.css_anam_reason_det_label, .css_anam_reason_det_label:hover {text-align: left;vertical-align: middle;}
.css_anam_reason_det_line, .css_anam_reason_det_line:hover {height:0px;text-align: left;}
.css_anam_aller_det_label, .css_anam_aller_det_label:hover {text-align: left;vertical-align: middle;}
.css_anam_aller_det_line, .css_anam_aller_det_line:hover {height:0px;text-align: left;}
.css_anam_temp_det_label, .css_anam_temp_det_label:hover {text-align: left;vertical-align: middle;}
.css_anam_temp_det_line, .css_anam_temp_det_line:hover {height:0px;text-align: left;}
.css_anam_hbeat_det_label, .css_anam_hbeat_det_label:hover {text-align: left;vertical-align: middle;}
.css_anam_hbeat_det_line, .css_anam_hbeat_det_line:hover {height:0px;text-align: left;}
.css_anam_bpsys_det_label, .css_anam_bpsys_det_label:hover {text-align: left;vertical-align: middle;}
.css_anam_bpsys_det_line, .css_anam_bpsys_det_line:hover {height:0px;text-align: left;}
.css_anam_bpdia_det_label, .css_anam_bpdia_det_label:hover {text-align: left;vertical-align: middle;}
.css_anam_bpdia_det_line, .css_anam_bpdia_det_line:hover {height:0px;text-align: left;}
.css_anam_oxy_det_label, .css_anam_oxy_det_label:hover {text-align: left;vertical-align: middle;}
.css_anam_oxy_det_line, .css_anam_oxy_det_line:hover {height:0px;text-align: left;}
.css_anam_gluco_det_label, .css_anam_gluco_det_label:hover {text-align: left;vertical-align: middle;}
.css_anam_gluco_det_line, .css_anam_gluco_det_line:hover {height:0px;text-align: left;}
.css_anam_diag_det_label, .css_anam_diag_det_label:hover {text-align: left;vertical-align: middle;}
.css_anam_diag_det_line, .css_anam_diag_det_line:hover {height:0px;text-align: left;}
