.css_pati_id_label { }
.css_pati_id_line {text-align:left;}
.css_pati_id_obj {text-align:left;}
.css_anam_date_label { }
.css_anam_date_line { }
.css_anam_date_obj { }
.css_anam_strtime_label { }
.css_anam_strtime_line { }
.css_anam_strtime_obj { }
.css_anam_career_label { }
.css_anam_career_line { }
.css_anam_career_obj { }
.css_anam_carsem_label { }
.css_anam_carsem_line {text-align:left;}
.css_anam_carsem_obj {text-align:left;}
.css_anam_reason_label { }
.css_anam_reason_line { }
.css_anam_reason_obj { }
.css_anam_aller_label { }
.css_anam_aller_line { }
.css_anam_aller_obj { }
.css_anam_temp_label { }
.css_anam_temp_line { }
.css_anam_temp_obj { }
.css_anam_hbeat_label { }
.css_anam_hbeat_line {text-align:left;}
.css_anam_hbeat_obj {text-align:left;}
.css_anam_bpsys_label { }
.css_anam_bpsys_line {text-align:left;}
.css_anam_bpsys_obj {text-align:left;width:40px;}
.css_anam_bpdia_label { }
.css_anam_bpdia_line {text-align:left;}
.css_anam_bpdia_obj {text-align:left;}
.css_anam_oxy_label { }
.css_anam_oxy_line {text-align:left;}
.css_anam_oxy_obj {text-align:left;}
.css_anam_gluco_label { }
.css_anam_gluco_line {text-align:left;}
.css_anam_gluco_obj {text-align:left;}
.css_anam_diag_label { }
.css_anam_diag_line { }
.css_anam_diag_obj { }
.css_tratamiento_label { }
.css_tratamiento_line { }
.css_tratamiento_obj { }
.css_pat_blood_label { }
.css_pat_blood_line { }
.css_pat_blood_obj { }
.css_pat_bod_label { }
.css_pat_bod_line { }
.css_pat_bod_obj { }
.css_pat_gerens_label { }
.css_pat_gerens_line { }
.css_pat_gerens_obj { }
.css_pat_lname_label { }
.css_pat_lname_line { }
.css_pat_lname_obj { }
.css_pat_name_label { }
.css_pat_name_line { }
.css_pat_name_obj { }
.css_pat_phone_label { }
.css_pat_phone_line { }
.css_pat_phone_obj { }
